.customersContainer {
  width: 50%;
  background-color: #f0f8ffee;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, .4);
}

.listContainer {
  width: 100%;
  max-height: 50vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}